body{
    margin: 0px;
    background: #C6FFDD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
div{
    margin: 30px;
}
header h1{
    text-align: center;
    background-color:white;
}
nav ul{
    list-style-type: none;
    /* width: 100%; */
    background-color: burlywood;
    overflow: hidden;
    /* height: 30px; */
    margin: 0;
    padding: 0 ;

}


nav{
    position: sticky;
    top: 0px;
}
nav ul li{
    float: left;
    /* display: inline-block;
    padding: 0 10px; */

}
nav ul li a{
    text-decoration: none;
    display: block;
    color: white;
    padding: 10px 80px 10px 80px;

}
nav ul li a:hover{
    background-color:antiquewhite ;
    color:  black;
}
article{
    margin: 15px;
    padding: 0 6px;
    background-color: white;
}
nav .nav-active{
    background-color: antiquewhite;
    color: black;
    position: sticky;
    top: 10px;
}
footer{
    color: blue;
    display: block;
    text-align: end;
}
@media only screen and (max-width:800px){
    nav ul li {
        float: none;
        text-align: center;
    }
}
